@page "/genres"
@using ChinookLibrary.Models
@using Microsoft.AspNetCore.Antiforgery; 
@using ChinookLibrary
@attribute [RequireAntiforgeryToken]

<h3>Genres</h3>

<br/>



@foreach (var genre in DbUtility.ListGenres()) 
{
@($"{genre}, ") 
}

@code {
    
}